<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">
      <img src="assets/images/Global2x.jpg" alt="Perkins+Will Logo"/>
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a [routerLink]="['substances']">Substances</a></li>
      <li><a [routerLink]="['references']">References</a></li>
      <li *ngIf="!this.isSignedIn()"><a [routerLink]="['signin']">Sign In</a></li>
      <li *ngIf="this.isSignedIn()"><a (click)="onLogOut()">Sign Out</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a [routerLink]="substances">Substances</a></li>
      <li><a [routerLink]="references">References</a></li>
      <li *ngIf="!this.isSignedIn()"><a [routerLink]="['signin']">Sign In</a></li>
      <li *ngIf="this.isSignedIn()"><a (click)="onLogOut">Sign Out</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

